<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Demo App' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true, nonce: true %>
  </head>

  <body data-controller="color-scheme" class="demoapp">
    <%= yield %>
  </body>
</html>
